.navbar {
    padding: 10px 10px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        color: $color-white;
        background-color: $color-primary-light;
        transition: background-color 200ms ease;

        &:hover {
            background-color: $color-primary-light;
        }
    }

    &__groupbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 10px;
    }

    &__title {
        font-size: 30px;
        font-family: inherit;
        font-weight: 600;
        color: $color-grey-100;
        width: 30%;
        letter-spacing: 0.85px;
    }

    &__icongroup {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__iconbox {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $color-grey-100;
            font-size: 20px;
            margin: 0 5px;
            background-color: $color-primary-light;
        }
    }
}